@model System.Collections.Generic.List<Music.Entities.Album>

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<table class="table table-dark">
    <tr>
        <td>Id </td>
        <td>Title</td>
        <td>Composer</td>
    </tr>

    @foreach (var item in @Model)
    {
        <tr>
            <td> @item.Id </td>
            <td> @item.Name </td>
            <td> @item.Composer </td>
        </tr>
    }


</table>